@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background:
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.651)),
        url('../img/background.jpg') no-repeat center center;
    background-repeat: no-repeat;
    background-size: auto;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

main div h1 {
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 15px;
}

main #inserir {
    width: 350px;
    margin: auto;
    text-align: center;
    background-color: rgb(226, 226, 226);
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.612);
    padding: 15px;
    border-radius: 10px;
    display: inline-block;
}

.input {
    height: 35px;
    border: 0px;
    border-radius: 3px;
    padding: 6px;
    margin-bottom: 15px;
}

.input,
.inpMn:focus {
    outline: 0;
    box-shadow: 0 0 0 0;
}

.select {
    text-align: center;
    color: black;
    background-color: rgba(255, 255, 255, 0);
    border: none;
}

.inpMn {
    height: 35px;
    width: 55px;
    border: 0px;
    border-radius: 3px;
    padding: 6px;
}

.limites {
    border: 1px solid rgb(124, 124, 124);
    border-radius: 5px;
    display: inline-block;
    width: 200px;
    padding: 5px;
    margin-bottom: 10px;
}

.botao {
    background: linear-gradient(to right, #243882, #00133b);
    width: 150px;
    height: 40px;
    border: 0px;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px;
    color: white;
}

.botao:hover {
    background: linear-gradient(to right, #243882bd, #00133bb8);
}

.btnVoltar {
    width: 50px;
    height: 25px;
    display: block;
    background-color: gray;
    color: white;
    margin: auto;
    margin-top: 10px;
}

.btnVoltar:hover {
    background-color: #243882;
}


.loading {
    width: 20px;
    animation: spin 1s infinite linear;
    /*[Qual animação] [Tempo para realizar] [quanto realizar] [tipo de movimento] */
}

/*O keyframe(animação) criado pode ser usado em diversos elementos chamando seu nome spin*/
@keyframes spin {
    form {
        /*Começa em:*/
        transform: rotate(0deg);
    }

    to {
        /*Vai até:*/
        transform: rotate(360deg);
    }
}